#nav_img {
    width: 60%;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

.axis_images {}

.vido {
    height: auto;
    padding-left: 0%;
    outline: none;
}

.row {
    margin-right: -6px;
}

a {
    display: inline-block;
}

#about_tab {
    display: none;
}

#about_tab {
    padding-left: 1%;
    font-size: 2vw !important;
    font-family: "Times New Roman", Times, serif;
}

#home_button {
    font-weight: 400;
}